@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>
@using (Html.BeginForm("Login", "Account", FormMethod.Post))
{
    <div>
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" required />
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" required />
    </div>
    <input class="button" type="submit" value="Login" />
}
